div {
    margin: 0;
}
pre {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #181a1a;
}
div.block {
    background-color: #282b2b;
    min-width: 200px;
    height: 100px;
    float: left;
    padding: 10px;
            
    position:absolute;
    box-shadow: 0px 5px 7px 2px rgba(0, 0, 0, 0.22);
}

div.block span {
    vertical-align: middle;
    font-size: 2em;
    font-family: Helvetica;
    margin: 0px;
    
    color: #008c9e;
    box-shadow: 0px 5px 7px 2px rgba(0, 0, 0, 0.22);
    background-color: #343838;
}

div.closeButton {
    margin: 0px;
    background-color: #c44;
    width: 10px;
    height: 10px;
}

.socket {
    width: 100%;
    box-sizing: border-box;
    min-height: 150px;
    background-color: #ccc;
    margin-top: 10px;
}

.socket input {
    box-sizing: border-box;
    display: block;
    width: 100%;
}

div#toolboxSidebar {
    height: 100vh;
    width: 10vw;
    float: left;
    background-color: #404545;
    padding: 0px 10px 0px 10px;
    box-shadow: 0px 5px 7px 2px rgba(0, 0, 0, 0.22);
    top: 0px;
    padding-top: 20px;
    bottom: 0px;
    position: fixed;
}

div#toolboxSidebar input {
    clear: both;
    display: block;
    margin-bottom: 5px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0px 5px 7px 2px rgba(0, 0, 0, 0.22);
    min-height: 30px;
}

svg path {
    stroke: #005f6b;
}

div#workspace {
    height: 100vh;
    width: 100vw;
}

/* jsPlumb */
._jsPlumb_endpoint {
    cursor: pointer;
    z-index: 100;
}
